<!-- mine real one -->
<div class="pr-5 pl-5 mt-5 ">
<div class="mt-6 card gedf-card">
  <form [formGroup]="storyForm" (ngSubmit)="createStory()">

    <div class="card-body">

      <textarea formControlName="title" class="form-control" placeholder="Story's title" ></textarea>
      <h1>
      </h1>
      <textarea formControlName="text" class="form-control" placeholder="What's your Story?"></textarea>

      <div class="text-right">
        <button class="btn btn-primary" type="submit" >share</button>
      </div>

    </div>
  </form>

</div>
<div *ngIf="stories">
  <div *ngFor="let story of stories">
    <div class="card">
      <!-- head of the card-->
      <div class="card-header">
        <div class="d-flex">
          <div class="p-2">
          <img class="circle" src="{{story.user.picture}}" alt="">
          <style>
            .circle {
              height: 50px;
              width: 50px;
              background-color: #555;
              border-radius: 50%;
            }
          </style>
          </div>


          <div class="h7 p-2">{{story.user.username}}</div>


          <div class="ml-auto p-2 float-right">

          <button (click)="setUpDropDown(story)" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ..
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button *ngIf="currentUser == story.user.username"  class="dropdown-item" type="button" data-toggle="modal" data-target="#updateModal">Update</button>
            <button *ngIf="currentUser == story.user.username" (click)="deleteStory(story.id)" class="dropdown-item" type="button">Delete</button>
            <button class="dropdown-item" type="button">Report</button>
          </div>
          </div>
        </div>
      </div>




      <!-- end of the head of the card-->
      <!-- body of the card-->
      <div class="card-body">
        <div class="text-muted mb-2">
          <h4>
            <i class="fa fa-clock-o"></i>  {{story.date}}
          </h4>
          <h1 class="card-title" style="color:#0000EE" > {{story.title}} </h1>

          <h2>
            <p class="card-text">

              {{story.text}}

            </p>
          </h2>


      </div>
    </div>
  </div>
    <h1>

    </h1>
</div>
</div>
</div>
<div *ngIf=" !stories" class="pr-5 pl-5">
  <p><ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"><i>Loading..</i></ngb-progressbar></p>
</div>



<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
     <form [formGroup]="storyToUpForm" (ngSubmit)="updateStory()">
      <div class="modal-header">
        <h5 class="modal-title">Update Your Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="storyToUpdate" class="modal-body">


              <h3>Title:</h3>
              <textarea formControlName="titleToUp"  class="form-control mt-1" placeholder="Story's title"></textarea>
              <h3>Text:</h3>
              <textarea formControlName="textToUp" class="form-control mt-1" placeholder="What's your Story?"></textarea>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" >Save changes</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </form>

  </div>
</div>
</div>

