<div *ngIf="user" style="text-align:center">
<h1>Your Profile:</h1>
<div class="p-2">
  <img class="circle" width="45" src="{{user.picture}}" alt="">
  <style>
    .circle {
      height: 100px;
      width: 100px;
      background-color: #555;
      border-radius: 50%;
    }
  </style>
</div>

<h1>Username: {{user.username}}</h1>
<h1>Firstname: {{user.firstname}}</h1>
<h1>Lastname: {{user.lastname}}</h1>
<h1>Email: {{user.email}}</h1>
</div>

<div *ngIf=" !user" class="pr-5 pl-5">
  <p><ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"><i>Loading..</i></ngb-progressbar></p>
</div>
